* text=auto !eol
/Makefile -text
/apertium-mal.mal.lexc -text
/apertium-mal.mal.twol -text
dev/fifth.txt -text
dev/first.txt -text
dev/fourth.txt -text
dev/gci/task1/note1 -text
dev/gci/task1/note1.txt -text
dev/gci/task1/sidharth.txt -text
dev/gci/task2/meghna.txt -text
dev/gci/task2/note.txt -text
dev/gci/task3/sid.txt -text
dev/gci/task4/meg.txt -text
dev/gci/task6/lemma_akhil.txt -text
dev/gci/task7/notes.txt -text
dev/gci/task7/pos_subin.txt -text
dev/malayalam_freq_list.txt -text
dev/second.txt -text
dev/test.lexc -text
dev/third.txt -text
