/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-mal.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/mal.autogen.att.gz
/mal.autogen.bin
/mal.autogen.hfst
/mal.automorf.att.gz
/mal.automorf.bin
/mal.automorf.hfst
/mal.autopgen.bin
/mal.rlx.bin
/missing
/modes
